[submodule "roles/ansible-galaxy-tools"]
	path = roles/ansible-galaxy-tools
	url = git://github.com/galaxyproject/ansible-galaxy-tools.git

[submodule "roles/ansible-galaxy-toolshed"]
	path = roles/ansible-galaxy-toolshed
	url = git://github.com/galaxyproject/ansible-galaxy-toolshed.git

[submodule "roles/ansible-pulsar"]
	path = roles/ansible-pulsar
	url = git://github.com/galaxyproject/ansible-pulsar.git